body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  text-align: left;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ff0000;
  padding: 10px;
}
.checkbox {
  margin-right: 10px;
}
.checkbox-label {
  font-weight: bold;
}
.btn {
  background-color: #ff0000;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background-color: #ffffff;
  border: 1px solid #ff0000;
  color: #ff0000;
}

#Checkboxes > * {
  margin-bottom: 15px;
}